.search-area
  margin: 10px
  margin-bottom: 50px

.search-area__label
  margin-right: 10px

.search-area #search-box
  width: 300px
  height: 30px

.countries__list
  list-style-type: none
  display: grid
  grid-template-columns: 33% 33% 33%

.countries__item
  margin-bottom: 20px

.countries__link
  display: inline-block
  color: black
  text-decoration: none

.countries__link:hover
  color: blue

.countries__flag
  width: 20vw

.countries__name
  display: block
  margin-top: 10px
  text-align: center
